// Colors
$dark-gray-1: #020202;

$white-1: #FAFAFA;
$white-2: #FFFCEB;

$red-1: #FF725C;
$red-1-dark: darken(#FF725C, 5%);
$red-1-darker: darken(#FF725C, 10%);
$red-1-light: lighten(#FF725C, 12%);
$red-1-lighter: lighten(#FF725C, 15%);

$green-1: #3CB371;
$green-1-dark: darken(#3CB371, 5%);
$green-1-darker: darken(#3CB371, 10%);
$green-1-light: lighten(#3CB371, 12%);
$green-1-lighter: lighten(#3CB371, 15%);

$yellow-1: #FBF1A9;
$yellow-1-dark: darken(#FBF1A9, 5%);
$yellow-1-darker: darken(#FBF1A9, 10%);
$yellow-1-light: lighten(#FBF1A9, 12%);
$yellow-1-lighter: lighten(#FBF1A9, 15%);

$blue-1: #CDECFF;
$blue-1-dark: darken(#CDECFF, 5%);
$blue-1-darker: darken(#CDECFF, 10%);
$blue-1-light: lighten(#CDECFF, 12%);
$blue-1-lighter: lighten(#CDECFF, 15%);

$pink-1: #ffb6c1;