body {
    color: $dark-gray-1;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    @include textDecorationWavy;
    color: inherit;
    text-decoration-color: transparent;
    transition: $base-transition;
    
    &:hover,
    &:focus {
        @include textDecorationWavy;
        color: inherit;
        text-decoration-color: inherit;
    }
}   