@mixin borderColorBlack {
    border-color: $dark-gray-1 !important;
}

@mixin textDecorationWavy {
    text-decoration: underline;
    text-decoration-style: wavy;
}

@mixin noOutline {
    outline: none;
}

@mixin paddingVerticalBig {
    padding: 7rem 0;
    
    @include medium-down {
        padding: 5rem 0;
    }
    
    @include mobile {
        padding: 3.5rem 0;
    }
}

@mixin mainHead {
    font-size: 4.5rem;
    
    @include medium-down {
        font-size: 3.5rem;
    }
    
    @include mobile {
        font-size: 2.5rem;
    }
}

@mixin subHead {
    font-size: 3.5rem;
    
    @include medium-down {
        font-size: 3rem;
    }
    
    @include mobile {
        font-size: 2.125rem;
    }
}